# Node
node_modules
npm-debug.log
package-lock.json

# Next.js build output
.next
.next/cache
out
dist

# Local dev artifacts
.env
.env.local
.env.*
.vercel

# Logs
logs
*.log

# OS / editor
.DS_Store
.vscode
.idea

# Python
__pycache__
*.pyc

# Git
.git
.github

# Docker
Dockerfile*
